body{
  background: #f2f2f2;
}
.container{
  background: white;
}
ul {
  color: #006699;
}
.image-note {
  float: left;
  padding: 2px;
  width: 170px;
}
.panel img {
  width: 150px;
}
hr {
  border: 2px solid red;
}

.sidebar img{
  width: 120px;
}
.sidebar{
  padding: 20px;
}
.recently-featured{
  text-align: right;
}
.archive{
  text-align: right;
  font-weight: bold;
}
.panel-title{
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.panel-heading{
  padding: 5px;
}

.panel {
  margin: 5px;
  border: 1px solid #bbedda;
  padding: 5px;
  background-color: #f4fffb;
  border-radius: 0;
}
.panel-success .panel-heading {
  border-radius: 0;
  background-color: #bbedda;
  border: 1px solid grey;
}
.nav-tabs :n nth-child(1n+3) {
  float: right;
}

.sidebar{
  float: left;
  background
}
